.header {
    background: var(--three-bg);

    border-bottom: 1px solid #ECECEC;
}

.header__section {
    display: flex;
    justify-content: space-between;
}

.header__nav {
    @media screen and (max-width: 767px) {
        display: none;
    }
    display: flex;
    justify-content: space-between;
    width: 930px;
    margin-top: 32px;
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}