.hero {
    // @media (min-device-pixel-ratio: 2),
    // (-webkit-min-device-pixel-ratio: 2),
    // (min-resolution: 192dpi),
    // (min-resolution: 2dppx) {}
            @media screen and (max-width: 767px) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/mobile/hero/Hero@2x_mobile.jpg);
            }
            @media screen and (min-width: 768px) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/tablet/hero/hero@2x_tablet.jpg);
            }
            @media screen and (min-width: 1200px) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/desktop/hero/hero@2x_desktop.jpg);
            }
        
    
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
    }
}

.hero__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62; 
    text-transform: uppercase;
    color: var(--alt-title-color);

    @media screen and (min-width: 480px) {
        width: 360px;
        
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 796px;
    }
}
